/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/*HERE ARE MY STYLES*/

* { margin: 0; padding: 0; }

body {
  --main-red-color: #D92612;

  font-family: TTHovesProMedium, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  color: var(--main-red-color);
  cursor: url("../img/cursor.svg"), default;
}

img.top-logo {
  /*z-index: 1;*/
  position: absolute;
}

.logo-wrapper {
  top: 27px;
  left: 75px;
  position: absolute;
  height: calc(100% - 27px);
  width: calc(100% - 75px);
}

div.shadow {
  position: absolute;
  clip-path: polygon(270px 0px, 300px 0px, 50% 100%, -10% 100%);
  top: 57px;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(176deg, #E5E5E5 0%, #E0E0E05D 77%, #DDDDDD00 100%) 0 0 no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
}


h2 {
  font-weight: normal;
  /*width: 90vw;*/
}

body, html{
  margin:0;
  padding:0;
  min-width: fit-content;
}

.landing {
  background-image: url("../img/zena/zena.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  overflow: visible;
  padding-bottom: 223px;
  margin-bottom: -223px;
}

h1 {
  text-align: right;
  padding-right: 10rem;

  font-size: 120px;
  line-height: 120px;
  margin-top: 277px;
  margin-bottom: 0;
  /*width: 90vw;*/
}

h2.main-subtitle {
  text-align: right;
  padding-right: 10rem;

  font-size: 30px;
  line-height: 120px;
  margin-bottom: 0;
}

nav {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: flex-end;

  font-size: 20px;
  padding-top: 45px;
  padding-left: 375px;
}

nav a.active {
  border: 2px solid var(--main-red-color);
}

nav a.active:hover {
  background: var(--main-red-color);
  color: white;
  transition: all ease-in-out 100ms;
}

nav a:first-of-type {
  margin-left: 50px;
}

nav a {
  color: var(--main-red-color);
  text-decoration: none;
  padding: 12px;
  margin-left: 15px;
}

nav a:hover {
  border-bottom: 2px solid var(--main-red-color);
  transition: all ease-in-out 100ms;
}

.quote {
  position: relative;
  /*top: -247px;*/
  /*right: -204px;*/
  top: -10vw;
  right: -14vw;
}

h4 {
  font-size: 1.3rem;
}

.help-box div {
  margin-top: .5rem;
}

.scroll-arrow {
  display: block;
  position: sticky;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30vh;
  height: 59px;
  bottom: 20px;
  width: 100%;
  animation: wiggle 0.3s ease-in-out 2s 4 alternate;
}

a:has(> .next-arrow), a:has(> .previous-arrow) {
  cursor: pointer;
}

.next-arrow {
  margin-top: 2rem;
  rotate: 90deg;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  height: 59px;
  width: 59px;
}

.previous-arrow {
  margin-top: 2rem;
  rotate: -90deg;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  height: 59px;
  width: 59px;
}

div.stories-header {
  display: flex;
  align-items: baseline;
  padding-inline: 2rem;
}

.scroll-arrow:hover, a:hover > .next-arrow, a:hover > .previous-arrow {
  background-image: url("../img/arrow_hover.svg");
  transition: all ease-in-out 200ms;
}

@keyframes wiggle {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 10px);
  }
}

h2.title {
  width: 100%;
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 73px;
  text-align: center;
  z-index: 1;
  position: relative;
}

h2.title.margin {
  margin-top: 180px;
}

h2.title.title-long {
  margin: auto;
  max-width: 43%;
}

h2.title.about-us {
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-us a {
  color: var(--main-red-color);
}

div.goals {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /*width: 90%;*/
  z-index: 1;
  position: relative;
}

div.goal {
  flex: 1;
  border: 2px solid var(--main-red-color);
  background: white;
}

div.goal:not(:first-child) {
  border-left: 0;
}

h3 {
  font-size: 60px;
  margin-left: 54px;
  margin-block-start: 21px;
  margin-block-end: 0;
}

div.goal p {
  font-size: 20px;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 110px;
  padding-right: 110px;
  padding-block-end: 78px;
}

nav.help-box a {
  text-transform: lowercase;
}

nav.help-box {
  padding: 0;
  justify-content: center;
}

div.help-box {
  margin: auto;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.help-box div {
  margin-top: 3rem;
  width: 200px;
}

div.help-box a {
  color: var(--main-red-color);
}

div.stories {
  border: 2px solid var(--main-red-color);
  background-color: white;
  width: 60vw;
  padding-bottom: 60px;
  margin: 180px auto auto;
}

div.stories p {
  margin-inline: 111px;
}

div.stories p.signature {
  margin-top: 60px;
  text-align: right;
}

div.story {
  display: none;
}

div.story.active {
  display: block;
}
.story-background {
  background-image: url("../img/zena/zena.png");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: right 250px;
  height: 60vh;
  width: 100vw;
  overflow: visible;
  margin-bottom: calc(-14vh * 5);;
  padding-bottom: 4%;
}

div.timeline {
  width: 500px;
  margin: 50px auto auto;
  text-align: center;

  height: 360px;
}

div.timeline > a > div {
  margin-top: calc(1rem - 2px);
}

div.letter {
  width: 240px;
  padding: 95px;
  border: 2px solid var(--main-red-color);
  margin: 20px;
}

div.letter-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1200px;
  align-items: center;
  align-content: center;
}

/*div.letter-grid {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, 1fr);*/
/*  grid-template-rows: auto;*/
/*}*/

p.about-us {
  font-size: 20px;
  line-height: 25px;

  margin-inline: auto;
  max-width: 1050px;
  padding-inline: 2rem;
  margin-top: 1rem;
}

.about-us {
  background: white;
}


div.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding-top: 20px;
  border-top: 2px solid var(--main-red-color);
  padding-inline: 50px;
  padding-bottom: 30px;
}

div.footer div.socials {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 80px;
}

div.footer div.socials p {
  margin-right: 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-red-color);
  width: 27px;
  height: 27px;
  line-height: 27px;
  font-size: 27px;
  text-align: center;
}

.icon:not(:first-of-type) {
  border-left: 0;
}

.icon:hover {
  background-color: var(--main-red-color);
  color: white;
}

.icon img {
  width: 90%;
  filter: invert(21%) sepia(60%) saturate(4427%) hue-rotate(355deg) brightness(87%) contrast(96%);
}

.icon:hover img {
  filter: invert(100%);
}

@media only screen and (max-width: 1900px) {
  .quote {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  h1 {
    margin-top: 200px;
    padding-right: 3rem;
  }

  nav a {
    display: none;
  }

  div.shadow {
    clip-path: polygon(270px 0px, 300px 0px, 80% 100%, -10% 100%);
  }

  div.goals {
    flex-direction: column;
    width: 90vw;
    margin: auto;
    /*margin-left: 1rem;*/
  }

  div.goal p {
    padding-inline: 20px;
  }

  div.stories {
    width: 90vw;
  }

  div.stories p {
    margin-inline: 20px;
  }

  div.goal:not(:first-child) {
    border: 2px solid var(--main-red-color);
    border-top: 0;
  }

  .landing {
    background-size: 150%;
  }
}

@media only screen and (max-width: 768px) {
  h2.main-subtitle {
    text-align: left;
    padding-right: 5rem;
    padding-left: 5rem;

    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  div.shadow {
    clip-path: polygon(270px 0px, 300px 0px, 140% 100%, -10% 100%);
  }

  .landing {
    background-size: 400%;
  }

  h1 {
    margin-top: 200px;
  }

  div.footer {
    flex-direction: column;
  }

  div.socials {
    justify-content: flex-end;
  }
  
  div.podporujeme {
    display: flex;
    justify-content: flex-end;
  }

  h2.title.about-us {
    margin-top: 13rem;
  }

  div.stories-header {
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
    padding-block: .5rem;
  }

  .next-arrow {
    display: none;
  }

  .previous-arrow {
    margin-top: 0;
  }

  div.stories-header h2 {
    margin: 0;
  }
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.timeline a {
  text-decoration: none;
  color: var(--main-red-color);
  cursor: pointer;
}

.timeline a:hover {
  text-decoration: underline;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--main-red-color);
  position: relative;
  transition: all 200ms ease-in;
}

.status h4 {
  font-weight: normal;
  margin-top: 1em;
  font-size: 12px;
  /*writing-mode: vertical-rl;*/
  /*text-orientation: mixed;*/
}

.status:before {
   content: '';
   width: 25px;
   height: 25px;
   background-color: white;
   border-radius: 25px;
   border: 1px solid var(--main-red-color);
   position: absolute;
   top: -15px;
   left: 42%;
   transition: all 200ms ease-in;
}

.li.complete .status:before {
  background-color: var(--main-red-color);
  border: none;
  transition: all 200ms ease-in;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timestamp {
    width: 100px;
  }
  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

audio {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .timeline {
    display: none;
  }

  #timeline-header {
    display: none;
  }
}
.podporujeme a {
  color: var(--main-red-color);
}